<!DOCTYPE html>
<html>
    <head>
        <title>
            预约状态
        </title>
    </head>
    <body>
        <% if (typeof error != 'undefined') {%>
            You violated the constraints of the table.
            <div>
                Error is <%=error.constraints%>|ssss|<%=c%>
            </div>
        <% } %>
        <div>
            <h1>Appointment successfully made!</h1>
            <h2>Your appointment details is as follows:</h2>
            <div>
                appointment id: <%=data[0]%>
            </div>
            <div>
                owner name: <%=data[3]%>
            </div>
            <div>
                owner_email: <%=data[4]%>
            </div>
            <div>
                owner_phone: <%=data[5]%>
            </div>
            <div>
                date: <%=data[1]%>
            </div>
            <div>
                time: <%=data[2]%>
            </div>
            <a href="search" style="background-color:cornsilk;font-size:50px;">Click here return to search page.</a>
        </div>
    </body>
</html>