<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
    <title>CS2102 Forms and Interaction</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
		
		<!-- CSS for Styling -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		
		<!-- JavaScript for Interactivity -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

		<!-- ADDED JavaScript -->
		<script src="javascripts/formsScript.js"></script>
  </head>
  <body>
    <h1><%= title%> 成功！！！！爽！</h1>
    <table class="table table-striped">
        <tbody>			
            <% for(var i=0; i<data.length; i++) { %>
                <tr class="row100 body">
                    <td><%= data[i].owner_name%></td>
                    <td><%= data[i].ratings%></td>
                    <td><%= data[i].species%></td>
                    <td><%= data[i].gender%></td>
                    <td><%= data[i].house_type%></td>
                    <td><%= data[i].price%></td>
                    <td><%= moment(data[i].date_start).format( 'MMM-DD-YYYY')%></td>
                    <td><%= moment(data[i].date_end).format( 'MMM-DD-YYYY')%></td>
                    <!-- Here we need to add a url link to direct to the owner's detail's information -->
                    <!-- And finally, we need to optimize the result UI, making it like Trip advisors or similar things -->
                </tr>
            <% } %>
        </tbody>
    </table>

  </body>
</html>
