<!DOCTYPE html>
<html>
    <head>
        <title>Appointment</title>
    </head>
    <body>
        <h1>Appointment Page</h1>
        <form action="app_success" method="POST">
            <input type="hidden" name="owner_id" value="<%=data[0]%>"/>
            <input type="hidden" name="owner_name" value="<%=data[1]%>"/>
            <input type="hidden" name="owner_email" value="<%=data[2]%>"/>
            <input type="hidden" name="owner_phone" value="<%=data[3]%>"/>
            <div>
                <label for="owner_name">Service Provider: <%=data[1]%></label>
            </div>
            <div>
                <label for="customer_id">Customer ID:</label>
                <input type="text" name="customer_id"/>
            </div>
            <div>
                <label for="date">Date:</label>
                <input type="date" name="date"/>
            </div>
            <div>
                <label for="time">Time:</label>
                <input type="time" name="time"/>
            </div>
            <div>
                <button type="submit">Make Appointment!</button>
            </div>
        </form>
    </body>
</html>