<!DOCTYPE html>
<html style="height:100%;width:100%; background-color:beige;">
<head>
   <title>Database</title>
   <link href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
   <link href="/css/style.css" rel="stylesheet" type="text/css">
   <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css">
   <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
   <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="/css/cards-style.css" type="text/css" /> </head>
</head>
<body>
    <div class="bar"><%= title%></div>
    <div class="main-box" style="background-color:beige;"> 
            
        <div class="row" style="height: 100%;">
                <!-- Left Serach Bar -->
                <div class="col-md-3" style="height: 100%; padding-right: 0px;padding-left:10px;">
                    <div style="padding-left: 5px;background-color:white;height: 100%">
                        <form id="html_form" action="search" role="form" method="post">

                            <!-- Pet Types -->
                            <div id="pet_type" style="padding-top:10px; text-align:center">
                                <label for="pet_type_select">Pet Species:</label>
                                <select class="form-control" name="species" style="width:50%; position: relative;left: 25%">
                                    <option value=""></option>
                                    <option value="dog">dog</option>
                                    <option value="cat">cat</option>
                                    <option value="parrot">parrot</option>
                                    <option value="fish">fish</option>
                                    <option value="hawk">hawk</option>
                                    <option value="horse">horse</option>
                                    <option value="fish">duck</option>
                                    <option value="other">others</option>
                                </select>
                            </div>

                            <!-- Pet Age -->
                            <div id="pet_age" style="padding-top:10px; text-align:center">
                                <label for="pet_age_select">Pet's Age</label>
                                <select class="form-control" name="years" style="width:50%; position: relative;left: 25%">
                                    <option value=""></option>
                                    <option value="0-3">0-3</option>
                                    <option value="3-5">3-5</option>
                                    <option value="6-10">6-10</option>
                                    <option value="10+">10+</option>
                                </select>
                            </div>

                            <!-- Date -->
                            <div class="form-row" style="padding-top:10px; text-align:center">
                                    <div class="form-group col-md-6">
                                      <label for="From">From</label>
                                      <input class="form-control" type="date" name="start_date" value="2018-08-19">
                                    </div>
                                    <div class="form-group col-md-6">
                                      <label for="inputState">To</label>
                                      <input class="form-control" type="date" name="end_date" value="2018-08-19">
                                    </div>
                            </div>

                            <!-- Price -->
                            <div class="form-row" style="padding-top:10px; text-align:center">
                                <div class="form-group col-md-6">
                                    <label for="From">Min Price</label>
                                    <input type="text" placeholder="Min" name="price_min">
                                </div>         
                                <div class="form-group col-md-6">
                                    <label for="From">Min Price</label>
                                    <input type="text" placeholder="Min" name="price_min">
                                </div>
                            </div>

                            <!-- House Type -->
                            <div class="form-row" style="padding-top:10px; text-align:center">
                                <label for="exampleFormControlSelect1">House Type</label>
                                <select class="form-control" name="house" style="width:70%; position: relative;left: 15%">
                                    <option value="" selected="selected"></option>
                                    <option value="house with swimming pool">house with swimming pool</option>
                                    <option value="house with yard">house with yard</option>
                                    <option value="big house">big house</option>
                                    <option value="middle house">middle house</option>
                                    <option value="small house">small house</option>
                                </select>
                            </div>
                            <div class="form-row" style="padding-top:10px; text-align:center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Right Result Area -->
                <div class="col-md-9" style="height: 100%; padding-right: 5px; padding-left:5px;" >
                    <div style="padding-left: 5px; background-color:white;height: 100%;">
                            <% if (data.length === 0) {%>
                                <div style="font-size:300%;">You can have a look of our collabrators before you decide:</div>
                                <div style="font-size: 500%;text-align: center; color:purple;">
                                    Google
                                </div>
                                <div style="font-size: 500%;text-align: center; color:orange;">
                                    Linkedin
                                </div>
                                <div style="font-size: 500%;text-align: center; color:peru;">
                                    Amazon
                                </div>
                                <div style="font-size: 500%;text-align: center; color:royalblue;">
                                    Facebook
                                </div>
                            <% } else {%>
                                <% if (hasInput === 0) { %>
                                    <div style="font-size:50px; padding:20px;">You must specify at least one constraint. No matter, have a look at our recommendations!</div>
                                <% } else {%>
                                    <div style="font-size:50px; padding:20px;">Here are what we found for you!</div>
                                <% } %>
                                <div class="cards-2 section-gray">
                                        <div class="container">
                                            <%= console.log(data.length) %>
                                            <% for (var i = 0; i < data.length; i++) {%>
                                                <div class="col-md-3">
                                                        <div class="card card-blog">
                                                            <div class="card-image">
                                                                 <img class="img img-raised" src="<%= data[i].owner_img_url%>" style="height: 200px;width: 300px;"> 
                                                                <div class="ripple-cont"></div>
                                                            </div>
                                                            <div class="table">
                                                                <h4 class="card-caption">
                                                                    <%= data[i].owner_name %>
                                                                </h4>
                                                                <div style="font-size:100%">
                                                                    <p class="card-description"> Ratings: <%= data[i].ratings%> </p>
                                                                    <p class="card-description"> Pet Type(s): <%= data[i].species%> </p>
                                                                    <p class="card-description"> House Type: <%= data[i].house_type%> </p>
                                                                    <p class="card-description"> <%= moment(data[i].date_start).format('MMM-DD-YYYY')%> - <%= moment(data[i].date_end).format('MMM-DD-YYYY')%></p>
                                                                    <p class="card-description"> Price: <%= data[i].price%> </p>
                                                                </div>
                                                                <form action="owner_info" method="GET">
                                                                        <input type="hidden" name="name" value="<%= data[i].owner_name %>"/>
                                                                        <input type="hidden" name="link" value="<%= link %>"/>
                                                                        <input type="submit" value="More Info"/>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                            <% } %>
                                        </div>
                                    </div>
                            <% } %>

                            

                    </div>                    
                </div>
        </div>
    </div>

</body>
</html>